<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.bty834.mybatis3runtimegenerator.infra.mapper.LocalMessageDOMapper">
  <resultMap id="BaseResultMap" type="io.github.bty834.mybatis3runtimegenerator.infra.model.LocalMessageDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="number" jdbcType="BIGINT" property="number" />
    <result column="topic" jdbcType="VARCHAR" property="topic" />
    <result column="sharding_key" jdbcType="VARCHAR" property="shardingKey" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="send_status" jdbcType="TINYINT" property="sendStatus" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="retry_times" jdbcType="TINYINT" property="retryTimes" />
    <result column="next_retry_time" jdbcType="TIMESTAMP" property="nextRetryTime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cc2" jdbcType="VARCHAR" property="cc2" />
    <result column="cc3" jdbcType="INTEGER" property="cc3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, number, topic, sharding_key, msg_id, send_status, content, retry_times, next_retry_time, 
    deleted, create_time, update_time, cc2, cc3
  </sql>
  <select id="selectByExample" parameterType="io.github.bty834.mybatis3runtimegenerator.infra.model.LocalMessageDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from local_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from local_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="io.github.bty834.mybatis3runtimegenerator.infra.model.LocalMessageDO">
    insert into local_message (id, number, topic, 
      sharding_key, msg_id, send_status, 
      content, retry_times, next_retry_time, 
      deleted, create_time, update_time, 
      cc2, cc3)
    values (#{id,jdbcType=BIGINT}, #{number,jdbcType=BIGINT}, #{topic,jdbcType=VARCHAR}, 
      #{shardingKey,jdbcType=VARCHAR}, #{msgId,jdbcType=VARCHAR}, #{sendStatus,jdbcType=TINYINT}, 
      #{content,jdbcType=VARCHAR}, #{retryTimes,jdbcType=TINYINT}, #{nextRetryTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{cc2,jdbcType=VARCHAR}, #{cc3,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="io.github.bty834.mybatis3runtimegenerator.infra.model.LocalMessageDO">
    insert into local_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="shardingKey != null">
        sharding_key,
      </if>
      <if test="msgId != null">
        msg_id,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="retryTimes != null">
        retry_times,
      </if>
      <if test="nextRetryTime != null">
        next_retry_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="cc2 != null">
        cc2,
      </if>
      <if test="cc3 != null">
        cc3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=BIGINT},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="shardingKey != null">
        #{shardingKey,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="retryTimes != null">
        #{retryTimes,jdbcType=TINYINT},
      </if>
      <if test="nextRetryTime != null">
        #{nextRetryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cc2 != null">
        #{cc2,jdbcType=VARCHAR},
      </if>
      <if test="cc3 != null">
        #{cc3,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="io.github.bty834.mybatis3runtimegenerator.infra.model.LocalMessageDOExample" resultType="java.lang.Long">
    select count(*) from local_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update local_message
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=BIGINT},
      </if>
      <if test="record.topic != null">
        topic = #{record.topic,jdbcType=VARCHAR},
      </if>
      <if test="record.shardingKey != null">
        sharding_key = #{record.shardingKey,jdbcType=VARCHAR},
      </if>
      <if test="record.msgId != null">
        msg_id = #{record.msgId,jdbcType=VARCHAR},
      </if>
      <if test="record.sendStatus != null">
        send_status = #{record.sendStatus,jdbcType=TINYINT},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.retryTimes != null">
        retry_times = #{record.retryTimes,jdbcType=TINYINT},
      </if>
      <if test="record.nextRetryTime != null">
        next_retry_time = #{record.nextRetryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cc2 != null">
        cc2 = #{record.cc2,jdbcType=VARCHAR},
      </if>
      <if test="record.cc3 != null">
        cc3 = #{record.cc3,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update local_message
    set id = #{record.id,jdbcType=BIGINT},
      number = #{record.number,jdbcType=BIGINT},
      topic = #{record.topic,jdbcType=VARCHAR},
      sharding_key = #{record.shardingKey,jdbcType=VARCHAR},
      msg_id = #{record.msgId,jdbcType=VARCHAR},
      send_status = #{record.sendStatus,jdbcType=TINYINT},
      content = #{record.content,jdbcType=VARCHAR},
      retry_times = #{record.retryTimes,jdbcType=TINYINT},
      next_retry_time = #{record.nextRetryTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      cc2 = #{record.cc2,jdbcType=VARCHAR},
      cc3 = #{record.cc3,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="io.github.bty834.mybatis3runtimegenerator.infra.model.LocalMessageDO">
    update local_message
    <set>
      <if test="number != null">
        number = #{number,jdbcType=BIGINT},
      </if>
      <if test="topic != null">
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="shardingKey != null">
        sharding_key = #{shardingKey,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null">
        msg_id = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="retryTimes != null">
        retry_times = #{retryTimes,jdbcType=TINYINT},
      </if>
      <if test="nextRetryTime != null">
        next_retry_time = #{nextRetryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cc2 != null">
        cc2 = #{cc2,jdbcType=VARCHAR},
      </if>
      <if test="cc3 != null">
        cc3 = #{cc3,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.github.bty834.mybatis3runtimegenerator.infra.model.LocalMessageDO">
    update local_message
    set number = #{number,jdbcType=BIGINT},
      topic = #{topic,jdbcType=VARCHAR},
      sharding_key = #{shardingKey,jdbcType=VARCHAR},
      msg_id = #{msgId,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      retry_times = #{retryTimes,jdbcType=TINYINT},
      next_retry_time = #{nextRetryTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      cc2 = #{cc2,jdbcType=VARCHAR},
      cc3 = #{cc3,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>